:root{
--baby-blue: #92cff3;
--cream: #ffdacd;
--dark-red: #670333;
--grey-25: #333333;
--grey-50: #777777;
--grey-75: #bbbbbb;
--light-red: #bb3959;
--navy-blue: #467ce0;
--off-white: #f1fbff;
--orange: #f87e7e;
--royal-blue: #053f5a;
}

b{
    color: var(--dark-red);
    font-size: 130%;
}

body{ /* Sets the grid to a 6 row area, 8 column area that's 960 pixels tall, and 1280 pixels wide. It's about the same aspect ratio as a 4:3 monitor */ 
    display: grid;
    font-family: futuramedium;
    grid-template-columns: .5fr repeat(6, 1fr) .5fr;
    grid-template-rows: .5fr repeat(4, 1fr) .5fr;
    max-height: 960px;
    max-width:  1280px;
    min-height: 960px;
    min-width: 1280px;
}

button{
    background-color: var(--navy-blue);
    border-radius: 100%;
    border: none;
    color: var(--off-white);
    cursor: pointer;
    font-family: futuramedium;
    font-size: .75em;
    height: 75px;
    margin: 5px;
    text-decoration: none;
    width: 75px;
}

button img{
    max-width: 60px;
}

button:hover{
    background-color: var(--royal-blue);
}

h1{
    color: var(--dark-red);
    font-family: futuraextra_black;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

html{
    background-color: var(--off-white);
    background-image:  url("../images/background.png");
    display: flex;
    justify-content: center;
}


@font-face {
    font-family: 'futuraextra_black';
    src: url('../fonts/futura_extra_black_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_extra_black_font-webfont.woff') format('woff'),
         url('../fonts/futura_extra_black_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_medium_bt-webfont.woff') format('woff'),
         url('../fonts/futura_medium_bt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#dateRange{
    color: var(--light-red);
    display:block;
    font-size: 1.2em;
    margin-bottom: 300px;
    position: absolute;
}

#description{
    color: var(--light-red);
    font-size: 1.5em;
    margin-bottom: 20px;
}

#display{
    margin-bottom: 20px;
    max-width: 400px;
}

.help{
    background-color: white;
    border-radius: 35px;
    bottom: 10px;
    color: var(--dark-red);
    display: block;
    font-size: 1em;
    margin-bottom: 50px;
    position:relative;
    width: 100px;
   margin-left: 75px;
   margin-right: 75px;
}

.help:hover{
    background-color: var(--cream);
    color:var(--dark-red);
}

#helpbox{
    background-color: var(--off-white);
    border-radius: 2em;
    box-shadow: lightgray 0px 20px 0px;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9em;
    max-width: 800px;
    padding: 4em;
}

#helpbox ul{
    list-style: none;
    margin-top: 4em;
}

#helpbox li{
    margin-top: 1.5em;
}


#info{ /* Controls the division used to display the text about the zodiac */ 
    background-color: var(--cream);
    border-radius: 1em;
    font-size: 1.3em;
    height: 300px;
    margin: 2em 2em 5px 2em;
    padding: 1.5em;
}

.main{  /* Controls the section used to display the name of the Zodiac and the associated image.*/ 
    align-items: center;
    background-color: var(--cream);
    border-top-left-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 5 / 5;
    justify-content: center;
}

.main h1{
    margin-top: 20px;
}

.navigation{ /* Controls the section used to display all possible zodiacs that a person can scroll through */ 
    align-items: center;
    background-color: var(--baby-blue);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 0px 20px 30px white;
    box-shadow: var(--navy-blue) 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    grid-area: 5 / 2 / 6 / 8;
    justify-content: center;
}

#okay{
    background-color: var(--light-red);
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    position: relative;
    top: 1em;
}

#okay:hover{
    background-color: var(--dark-red);
}


.pleaseHelp{
    background-color: rgba(0, 0, 0, 0.5);
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sidebar{ /* Controls the section used to display information about the Zodiac, the submit and help buttons, and the entry box.*/ 
    align-items: center;
    background-color:var(--orange);
    border-top-right-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 5 / 5 / 8;
    justify-content: center;
}

.submit{
    background-color: var(--light-red);
    border-radius: 35px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    width: 150px;
}

.submit:hover{
    background-color: var(--dark-red);
}

#zodiac-date{
    display: block;
}

#zodiac-form{
    background-color: var(--off-white);
    border-radius: 25px;
    border: none;
    font-family: futuramedium;
    font-size: 1.5em;
    height: 35px;
    text-align: center;
    width: 250px;
}
