:root{
--dark-red: #670333;
--light-red: #bb3959;
--orange: #f87e7e;
--cream: #ffdacd;
--off-white: #f1fbff;
--baby-blue: #92cff3;
--navy-blue: #467ce0;
--royal-blue: #053f5a;
--grey-25: #333333;
--grey-50: #777777;
--grey-75: #bbbbbb;
}



#description{
    color: var(--light-red);
    font-size: 1.5em;
    margin-bottom: 20px;
}

#zodiac-form{
    background-color: var(--off-white);
    height: 35px;
    width: 250px;
    text-align: center;
    font-size: 1.5em;
    border: none;
    border-radius: 25px;
    font-family: futuramedium;
}

h1{
    margin: 0;
    font-size: 2.5em;
    font-family: futuraextra_black;
    text-align: center;
    color: var(--dark-red);
    text-transform: uppercase;
}

html{
    display: flex;
    justify-content: center;
    background-color: var(--off-white);
}

body{ /* Sets the grid to a 6 row area, 8 column area that's 960 pixels tall, and 1280 pixels wide. It's about the same aspect ratio as a 4:3 monitor */ 
    display: grid;
    grid-template-rows: .5fr repeat(4, 1fr) .5fr;
    grid-template-columns: .5fr repeat(6, 1fr) .5fr;
    min-height: 960px;
    min-width: 1280px;
    max-height: 960px;
    max-width:  1280px;
    font-family: futuramedium;
}

main{  /* Controls the section used to display the name of the Zodiac and the associated image.*/ 
    background-color: var(--cream);
    grid-area: 2 / 2 / 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 2em;
}

main h1{
    margin-top: 20px;
}


sidebar{ /* Controls the section used to display information about the Zodiac, the submit and help buttons, and the entry box.*/ 
    background-color:var(--orange);
    grid-area: 2 / 5 / 5 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top-right-radius: 2em;
}

#display{
    margin-bottom: 20px;
    max-width: 400px;
}

.submit{
    background-color: var(--light-red);
    border-radius: 35px;
    width: 150px;
    font-size: 1em;
    text-transform: uppercase;
    font-style: bold;
}

.submit:hover{
    background-color: var(--dark-red);
}

.help{
    background-color: var(--light-red);
    border-radius: 35px;
    width: 150px;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 2em;
    display: block;
    top: 600px;
    padding: 0px;
}

#zodiac-date{
    display: block;
}

.help:hover{
    background-color: var(--dark-red);
}

button{
    background-color: var(--navy-blue);
    color: var(--off-white);
    border-radius: 100%;
    height: 75px;
    width: 75px;
    margin: 5px;
    text-decoration: none;
    border: none;
    font-family: futuramedium;
    font-size: .75em;
    cursor: pointer;
}

button img{
    max-width: 60px;
}

button:hover{
    background-color: var(--royal-blue);
}

navigation{ /* Controls the section used to display all possible zodiacs that a person can scroll through */ 
    background-color: var(--baby-blue);
    grid-area: 5 / 2 / 6 / 8;
    box-shadow: 0px 20px 30px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: lightgrey 0px 20px 15px;
}

.info{ /* Controls the division used to display the text about the zodiac */ 
    background-color: var(--cream);
    padding: 1.5em;
    margin: 2em 2em 5px 2em;
    border-radius: 1em;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 25, 2021 */

@font-face {
    font-family: 'futuraextra_black';
    src: url('../fonts/futura_extra_black_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_extra_black_font-webfont.woff') format('woff'),
         url('../fonts/futura_extra_black_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuramedium';
    src: url('../fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../fonts/futura_medium_bt-webfont.woff') format('woff'),
         url('../fonts/futura_medium_bt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}